.site-footer {
	padding: 2rem 0;
	background-image: url('http://dev.local/tajam/wp-content/uploads/2019/03/PUT-YOUR-IMAGE-HERE.jpg');
	position: relative;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 100%;
	.overlay{
		position: absolute;
		background-color: #231e45d1;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		height: auto;
		width: 100%;
		z-index: 0;
	}
	.title-content{
		margin-top: 17px;
		p{
			margin-bottom: 0;
		    color: #e0e0e0;
		    font-family: roboto light;
		    font-size: 14px;
		    line-height: 1.8;
		}
	}
	div.textwidget{
		ul{
			li.map-marker{
				font-family: roboto light;
			    font-size: 14px;
			    color: white;
			    margin-left: 25px;
			    line-height: 1.8;
				&:before{
					font-family: "Font Awesome 5 Free";
					  font-weight: 900;
					  content: "\f3c5";
					  position: absolute;
					  left: 7px;
				}
			}
			li.phone{
				font-family: roboto light;
				font-size: 14px;
				color: white;
				margin-left: 25px;
				line-height: 1.8;
				&:before{
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					content: "\f095";
					position: absolute;
					left: 7px;
				}
			}
		}
	}
	
	a {
		color: #656565;
	}
	h4{
		font-family: roboto black;
		font-size: 21px;
		color: white;
	}
	section#custom_html-5{
		margin-top: 20px;
		.textwidget.custom-html-widget{
			ul{ 
				li{
					display: inline;
					margin-right: 10px;
				}
			}
		}
	}
	input.input-area {
	    background: transparent;
	    border: 1px solid #9e97b0;
	    padding: 19px 15px;
	    margin-right: 3%;
	    color: #9e97b0;
	    &::placeholder{
	    	color: #9e97b0;
	    	text-align: center;
	    }
	}
	button.input-button{
	    border: 1px solid #9e97b0;
	    text-align: center;
	    padding: 15px 25px;
	    margin-right: 15px;
	    border-radius: 0;
	    background-color: #a19ab4;
	    img{
	    	height: 30px;
	    	width: 30px;
	    }
	}
	ul#footer-menu {
	    margin: 0;
	    list-style-type: none;
	    padding: 0;
	    li{
	    	display: inline;
	    	padding-right: 35px;
	    	a{
	    		font-family: roboto regular;
			    color: white;
			    font-size: 14px;
			    &:hover{
			    	color: #00e0d0;
			    	text-decoration: none;
			    }
	    	}
	    }
	}
	.copyright-text{
		font-family: roboto regular;
	    color: white;
	    font-size: 14px;
	}
}