.site-main{
	
	%_heading {
		font-family: Playfair Display Black;
		font-size: 22px;
	}
	%_heading-content{
		font-family: Playfair Display Regular;
		font-size: 16px;
	}
	%_excerpt-title {
		font-family: Roboto black;
		font-size: 14px;
	}
	%_excerpt {
		font-family: Roboto Light;
		font-size: 14px;
	}
	%_before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: auto;
		width: 100%;
		background-color: #231e45d1;
	}

	.about-section{
		h3 {
			@extend %_heading;
		    color: #413d4b;
		}
		p{
			@extend %_excerpt;
		    color: #413d4b;
		}
		.video{
			position: relative;
			background-size: cover;
			background-position: 100% 65%;
			background-repeat: no-repeat;
			.image-repeater{
				visibility: hidden;
			}
			&:before{
				@extend %_before;
			}
			.modal {
				display: none;
				position: fixed;
				z-index: 2;
				padding: 60px;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgb(0,0,0);
				background-color: rgba(0,0,0,0.4);
					.modal-content {
						background-color: #fefefe;
					    margin: auto;
					    padding: 20px;
					    border: 1px solid #888;
					    width: 80%;
					    height: 80vh;
					    position: absolute;
					    left: 0;
					    right: 0;
					    top: 50%;
					    transform: translateY(-50%);
					}
					.close {
						color: #aaaaaa;
						float: right;
						font-size: 28px;
						font-weight: bold;
					}
				}
			
			.video-button{
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				transform: translateY(-50%);
				text-align: center;
				.container{
					.row{
						.col-md-12{
							button{
								background: transparent;
							    box-shadow: none;
							    border: none;
							}
						}
					}
				}

				h3{
					@extend %_excerpt-title;
					color: #ffffff;
					font-size: 22px;
				}
			}

		}

	}


	.expertise-section{
		.row{
			&:last-child{
				border-top: 1px solid #ebebeb;
			}
			.col-md-4{
				&:first-child{
					border-right: 1px solid #ebebeb;
				}
				&:last-child{
					border-left: 1px solid #ebebeb;
				}
			}
		}
		hr{
			height: 2px;
			width: 6%;
			background-color: #c6c4c9;
			margin-bottom: 60px;
		}
		h3{
			@extend %_heading;
			color: #413d4b;
		}
		p{
			@extend %_excerpt;
			color: #413d4b;
		}

		.expertise-item{
			.expertise-item_icon{
				background-repeat: no-repeat;
				background-position: center center;
				width: 100%;
				height: 65px;
				margin: 0 auto;
				img{
					visibility: hidden;
				}
			}
				h4.expertise-item_title{
					@extend %_excerpt-title;
					color: #413d4b;
				}
				p.expertise-item_excerpt{
					@extend %_excerpt;
					color: #413d4b;
				}
			
		}
	}


	.team-section{
		background-image: url('http://dev.local/tajam/wp-content/uploads/2019/03/background.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		&:before{
			@extend %_before;
		}
		hr{
			height: 2px;
		    width: 6%;
		    background-color: #c6c4c9;
		    margin-bottom: 60px;
		}
		h3.team-main_title{
			@extend %_heading;
			color: white;
		}
		p.team-main_sub_title{
			font-family: Playfair Display Regular;
			font-size: 14px;
			color: white;
		}
		.team{
			border: 1px solid #c6c4c9;
			.team-image{
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
				height: 260px;
				img{
					visibility: hidden;
				}
			}
			h5.team-item_title{
				@extend %_excerpt-title;
				color: white;
			}
			p.team-item_excerpt{
				@extend %_excerpt;
				color: #fafafa;
			}
		}
		.sub-content{
			p{
				@extend %_excerpt;
				color: white;
			}
		}
	}

	.testimonial-section{
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 100%;
		&:before{
			@extend %_before;
		}
		h2.testimonial-item_title{
			@extend %_heading-content;
			line-height: 1.625;
			color: white;
		}
		h3.testimonial-item_subtitle{
			@extend %_excerpt-title;
			color: white;
		}
		p.testimonial-item_excerpt{
			@extend %_excerpt;
			color: white;
		}
		span.testimonial-item_icon{
			font-size: 40px;
			color: white;
		}
		.slick-slide{
			margin-top: 10px;

			div{
				text-align: center;
				.img-thumbnails{
					width: 40px !important;
					height: 40px !important;
					border-radius: 100%;
					background-size: cover;
					background-position: 100% 100%;
					background-repeat: no-repeat; 
					vertical-align: middle;
				}
			}
		}
		.slick-current {
			margin-top: 0;
			div{
				.img-thumbnails{
					width: 60px !important;
					height: 60px !important;
					border-radius: 100%;
					background-size: cover;
					background-position: 100% 100%;
					background-repeat: no-repeat; 
				}
			}
		}
		.slider-nav{
			.slick-slide {
				width: 100px;
			}
		}
	}
	.works-section{
		h3.works-item_title{
			@extend %_heading;
			color: #413d4b;
		}
		p.works-item_excerpt{
			@extend %_excerpt;
			color: #413d4b;
		}
		.library{
			display: grid;
    		grid-template-columns: repeat( auto-fill, (100%/6) );
    		.library-image{
				display: none;
				img.repeater_hero_image{
					visibility: hidden;
				}
			}
		}
	}



	.contact-section{
		.container{
			.row{
				.col-md-6{
					input{
						width: 100%;
						padding: 10px 20px;
					}
					textarea{
						height: 230px;
						padding: 10px 20px;
					}
				}
				.grid-container{
					display: grid;
					grid-template-columns: auto auto;
					.grid-item {
						padding: 25px 40px 25px 5px;
					}
				}

			}
		}
	}
}



