/**
 * Menu
 */

.site-header {
	padding: 0;
	
	.site-branding {
		float: left;
		.site-title {
			img {}
		}
		.site-description {
			display: none;
		}
	}

	.navbar-form {
		input[type="text"] {
			padding-left: 1.25rem;
			@include font-size(0.875);
			border-top-left-radius: 2rem;
  			border-bottom-left-radius: 2rem;
		}
	}
	.main-navigation{
		float: right;
		.menu-toggle{
			float: right;
		}
		.primary-menu{

		}
	}
}
.header-nav{
	position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    padding-top: 10px;
}


header#masthead {
    position: relative;
    z-index: 3;
}
.rslides_container {
	ul#slider2{
		li{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			.header-content{
				position: absolute;
			    z-index: 20;
			    top: 50%;
			    left: 0;
			    right: 0;
			    transform: translateY(-50%);
			    .row{
			    	.text-center{
						h1 {
						    font-family: Playfair Display Black;
						    color: white;
						    font-size: 32px;
						}
						hr{
							height: 2px;
						    width: 6%;
						    background-color: #00e0d0;
						}
						p{
							font-family: Roboto Light;
						    font-size: 14px;
						    color: white;
						}
						
			    	}
			    	.slider-button{
						background-color: transparent;
					    border: 1px solid #00e0d0;
					    border-radius: 5px;
					    color: #00e0d0;
					    font-family: 'Hammersmith One', sans-serif;
					    font-size: 16px;
					    font-weight: 900;
					    padding: 10px 20px;
					}
			    }

			}
			&:before{
			        content: "";
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: auto;
					z-index: 5;
					background: #231e45d1;
			    }
			img{
				visibility: hidden;
				height: 100vh;
			}
		}
	}
}

    