/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {}
	&:hover,
	&:active {
		outline: 0;
	}
	
	@include transition(0.25s);
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {

				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}
		
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		display: inline-block;
		position: relative;

		&:hover > a {
			color: #00e0d0;
		}
		
		&:not(:last-child) {
			padding-right: 1.25rem;
		}
	}
	
	a {
		position: relative;
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		padding: 1.25rem 0;
		font-weight: 500;
		font-size: 13px;
		text-decoration: none;
		display: block;
		color: white;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: #00e0d0;
	}
	
	// Active btn
	.current_page_item > a.btn,
	.current-menu-item > a.btn {
		color: #fff;
		box-shadow: rgba(0,0,0,0.156863) 0px 4px 24px 0px;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $tablet-size) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
