/*--------------------------------------------------------------
# Large devices - 1200px
--------------------------------------------------------------*/
@media (max-width: $desktop-size - 1) {
	.site-footer input.input-area {
	    width: 65%;
	}
}