/*--------------------------------------------------------------
# Medium devices - 992px
--------------------------------------------------------------*/
@media (max-width: $tablet-size - 1) {
	
	.text-right,
	.text-left {
		text-align: center !important;
	}

	.library{
		grid-template-columns: repeat( auto-fill, (100%/4) ) !important;
	}
	.secondary-menu{
		margin-bottom: 35px !important;
	}
	.site-footer input.input-area {
	    width: 53%;
	}
	
}