/*--------------------------------------------------------------
# Small devices - 768px
--------------------------------------------------------------*/
@media (max-width: $phone-size - 1) {
	.rslides_container ul#slider2 li img {
		height: 80vh;
	}
	.library-content{
		max-width: (100% / 3) !important;
	}
	.secondary-menu{
		margin-bottom: 35px !important;
	}
	.grid-container{
		margin-right: auto;
		margin-left: auto;
	}
	.contact-section{
		h3{
			margin-left: 30px;
		}
	}
	.slick-next{
		display: none !important;
	}
}