/*--------------------------------------------------------------
# Extra Small Devices (phones, 480px below)
--------------------------------------------------------------*/
@media (max-width: $xsmall-devices) {
	.video-button{
		img{
			width: 50%;
		}
	}

	.grid-container{
		margin-right: auto;
		margin-left: auto;
	}
	button.slick-next.slick-arrow,button.slick-prev.slick-arrow{
		display: none !important;
	}
	.rslides_container ul#slider2 li img {
		height: 80vh;
	}
	.button.menu-toggle{
		float: right;
	}
	.primary-menu{
		position: absolute;
		width: 300px;
		right: 60px;
		top: 45px;
	}

	.secondary-menu{
		margin-bottom: 35px !important;
	}
	.copyright-text{
		margin: 0 !important;
	}
	.modal{
		padding: 15px !important;
	}

	.library{
		grid-template-columns: repeat( auto-fill, (100%/2) ) !important;
	}

}
